.buyPage{
    margin: 20px auto;
    width: 70vw;
    margin: 0 auto;
}

.deliveryAddContainer{
    margin-top: 2rem;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 30px;
}

.deliverHeading, .userName{
    font-size: 1rem;
    font-weight: 500;
}

.deliveryAddContainer, .cartItem{
    box-shadow: 0 0 3px rgb(190, 190, 190);
}

.productContainer{
    margin-top: 20px;
}

.cartItem{
    margin: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.089) ;
    border-bottom: 1px solid rgba(0, 0, 0, 0.089) ;
    display: flex;
    gap: 2rem;
    padding: 7px;
    position: relative;
    background-color: white;
}

.cartItemImageContainer{
    width: 150px;
    height: 150px;
    border: rgba(0, 0, 0, 0.100);
}

.cartItemImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cartItemDetail{
    padding-right: 2.7rem;
}

.cartItemTitle{
    text-transform: capitalize;
}

.quantityButtons{
    display: inline-block;
    padding: 0.3rem 0;
    border: 1px solid rgba(0, 0, 0, 0.132);
    margin: 15px 0;
}

.quantityButton{
    border: 0;
    background-color: transparent;
    margin: 0 20px;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.701);
    cursor: pointer;
}

.quantityButton:hover{
    color: rgb(0, 0, 0);
}

.cartItemPrice{
    color: rgba(0, 0, 0, 0.701);
    font-weight: 500;
    font-size: 1rem;
}

.checkOutSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subTotalDiv{
    display: grid;
    width: max-content;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.totalHeading{
    font-weight: 500;
}

.price{
    font-weight: 500;
    color: rgba(0, 0, 0, 0.849);
}

.checkOutButton{
    border: 0;
    color: white;
    background-color: #e07f66;
    font-size: 1rem;
    padding: 0.7em;
    cursor: pointer;
}

.checkOutButton:hover{
    background-color: #da5f41;
}


.checkoutDiv{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 599px){
    .buyPage{
        width: 100%;
    }
}